{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>o serwisie</h1>
        <div class="about">
            <p>
                Autorem niniejszego serwisu jest Karolina Żeglińska.
                Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem prof. dr. hab. ………  na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
            </p>
        </div>
        <hr>
        <h1>źródła</h1>
        <div class="about">
            <h2>Teksty:</h2>
            <p>Własnego autorstwa, w oparciu o:</p>
            <ul>
                <li>
                    Marianowicz A. (1979), <i>Przetańczyć całą noc… Z dziejów musicalu</i>, Warszawa, Wydawnictwo Artystyczne i Filmowe
                </li>
                <li>
                    Wyszogrodzki D. (2018), <i>Ale musicale! Złote Stulecie 1918–2018</i>, Warszawa, Wydawnictwo Marginesy
                </li>
                <li>
                    Musicalna.pl<br>
                    <a href="https://www.musicalna.pl/historia-musicalu-czi/">https://www.musicalna.pl/historia-musicalu-czi/</a>,
                </li>
                <li>
                    Histmag.pl<br>
                    <a href="https://histmag.org/Musicale-historia-gatunku-14842?fbclid=IwAR0GrOslceC1NlAZlQNYSlNnzdVzt_A792H832oVYv1wQuOaRVD8u6dosW4">https://histmag.org/Musicale-historia-gatunku-14842?fbclid=IwAR0GrOslceC1NlAZlQNYSlNnzdVzt_A792H832oVYv1wQuOaRVD8u6dosW4</a>
                </li>
                <li>
                    Broadway Musial Home<br>
                    <a href="https://broadwaymusicalhome.com/shows.htm">https://broadwaymusicalhome.com/shows.htm</a>
                </li>
                <li>
                    History of Burlesque<br>
                    <a href="https://historyofburlesque.weebly.com/where-it-all-began.html">https://historyofburlesque.weebly.com/where-it-all-began.html</a>
                </li>
                <li>
                    Wikipedia.org<br>
                    <a href="https://en.wikipedia.org/wiki/Extravaganza">https://en.wikipedia.org/wiki/Extravaganza</a><br>
                    <a href="https://en.wikipedia.org/wiki/Minstrel_show">https://en.wikipedia.org/wiki/Minstrel_show</a><br>
                    <a href="https://en.wikipedia.org/wiki/Vaudeville">https://en.wikipedia.org/wiki/Vaudeville</a><br>
                    <a href="https://en.wikipedia.org/wiki/Revue">https://en.wikipedia.org/wiki/Revue</a><br>
                    <a href="https://en.wikipedia.org/wiki/Operetta">https://en.wikipedia.org/wiki/Operetta</a><br>
                    <a href="https://en.wikipedia.org/wiki/Jazz">https://en.wikipedia.org/wiki/Jazz</a>
                </li>
                <li>
                    National Museum of American History<br>
                    <a href="https://americanhistory.si.edu/smithsonian-jazz/education/what-jazz">https://americanhistory.si.edu/smithsonian-jazz/education/what-jazz</a>
                </li>

            </ul>

            <h2>Grafika:</h2>
            <ul>
                <li>
                    Logotyp własnego autorstwa zaprojektowany w programie Canva. <br>
                    <a href="https://www.canva.com/">https://www.canva.com/</a>
                </li>
                <li>
                    Internet Broadway Database. Użyte za zgodą.<br>
                    <a href="https://www.ibdb.com/">https://www.ibdb.com/</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}