{% extends 'base.html.twig' %}

{% block title %}
    Doceń musical | O serwisie
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>o serwisie</h1>
        <div class="about">
            <p>
                Autorem niniejszego serwisu jest Karolina Żeglińska.
                Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem prof. dr. hab. Jerzego Koniora na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
            </p>
        </div>
        <hr>
        <h1>źródła</h1>
        <div class="about">
            <h2>Teksty:</h2>
            <p>Własnego autorstwa, w oparciu o:</p>
            <ul>
                <li>
                    Marianowicz A. (1979), <i>Przetańczyć całą noc… Z dziejów musicalu</i>, Warszawa, Wydawnictwo Artystyczne i Filmowe
                </li>
                <li>
                    Wyszogrodzki D. (2018), <i>Ale musicale! Złote Stulecie 1918–2018</i>, Warszawa, Wydawnictwo Marginesy
                </li>
                <li>
                    Musicalna.pl<br>
                    <a href="https://www.musicalna.pl/historia-musicalu-czi/">musicalna.pl/historia-musicalu-czi/</a>
                </li>
                <li>
                    Histmag.pl<br>
                    <a href="https://histmag.org/Musicale-historia-gatunku-14842?fbclid=IwAR0GrOslceC1NlAZlQNYSlNnzdVzt_A792H832oVYv1wQuOaRVD8u6dosW4">histmag.org/Musicale-historia-gatunku</a>
                </li>
                <li>
                    Broadway Musial Home<br>
                    <a href="https://broadwaymusicalhome.com/shows.htm">broadwaymusicalhome.com/shows.htm</a>
                </li>
                <li>
                    History of Burlesque<br>
                    <a href="https://historyofburlesque.weebly.com/where-it-all-began.html">historyofburlesque.weebly.com/where-it-all-began.html</a>
                </li>
                <li>
                    Wikipedia.org<br>
                    <a href="https://en.wikipedia.org/wiki/Extravaganza">en.wikipedia.org/wiki/Extravaganza</a><br>
                    <a href="https://en.wikipedia.org/wiki/Minstrel_show">en.wikipedia.org/wiki/Minstrel_show</a><br>
                    <a href="https://en.wikipedia.org/wiki/Vaudeville">en.wikipedia.org/wiki/Vaudeville</a><br>
                    <a href="https://en.wikipedia.org/wiki/Revue">en.wikipedia.org/wiki/Revue</a><br>
                    <a href="https://en.wikipedia.org/wiki/Operetta">en.wikipedia.org/wiki/Operetta</a><br>
                    <a href="https://en.wikipedia.org/wiki/Jazz">en.wikipedia.org/wiki/Jazz</a><br>
                    <a href="https://en.wikipedia.org/wiki/The_Phantom_of_the_Opera_(1986_musical)">en.wikipedia.org/wiki/The_Phantom_of_the_Opera_(1986_musical)</a><br>
                    <a href="https://en.wikipedia.org/wiki/Cats_(musical)">en.wikipedia.org/wiki/Cats_(musical)</a><br>
                    <a href="https://en.wikipedia.org/wiki/Chicago_(musical)">en.wikipedia.org/wiki/Chicago_(musical)</a><br>
                    <a href="https://en.wikipedia.org/wiki/Hamilton_(musical)">en.wikipedia.org/wiki/Hamilton_(musical)</a><br>
                    <a href="https://en.wikipedia.org/wiki/The_Lion_King_(musical)">en.wikipedia.org/wiki/The_Lion_King_(musical)</a><br>
                    <a href="https://en.wikipedia.org/wiki/Wicked_(musical)">en.wikipedia.org/wiki/Wicked_(musical)</a><br>
                    <a href="https://en.wikipedia.org/wiki/List_of_the_longest-running_Broadway_shows">en.wikipedia.org/wiki/List_of_the_longest-running_Broadway_shows</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Andrew_Lloyd_Webber">pl.wikipedia.org/wiki/Andrew_Lloyd_Webber</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Michael_Crawford">pl.wikipedia.org/wiki/Michael_Crawford</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Sarah_Brightman">pl.wikipedia.org/wiki/Sarah_Brightman</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Richard_Stilgoe">pl.wikipedia.org/wiki/Richard_Stilgoe</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Trevor_Nunn">pl.wikipedia.org/wiki/Trevor_Nunn</a><br>
                    <a href="https://en.wikipedia.org/wiki/Lin-Manuel_Miranda">en.wikipedia.org/wiki/Lin-Manuel_Miranda</a><br>
                    <a href="https://en.wikipedia.org/wiki/John_Kander">en.wikipedia.org/wiki/John_Kander</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Fred_Ebb">pl.wikipedia.org/wiki/Fred_Ebb</a><br>
                    <a href="https://en.wikipedia.org/wiki/Bob_Fosse">en.wikipedia.org/wiki/Bob_Fosse</a><br>
                    <a href="https://en.wikipedia.org/wiki/Stephen_Schwartz_(composer)">en.wikipedia.org/wiki/Stephen_Schwartz</a><br>
                    <a href="https://en.wikipedia.org/wiki/Winnie_Holzman">en.wikipedia.org/wiki/Winnie_Holzman</a><br>
                    <a href="https://en.wikipedia.org/wiki/Elton_John">en.wikipedia.org/wiki/Elton_John</a><br>
                    <a href="https://en.wikipedia.org/wiki/Tim_Rice">en.wikipedia.org/wiki/Tim_Rice</a><br>
                    <a href="https://en.wikipedia.org/wiki/Roger_Allers">en.wikipedia.org/wiki/Roger_Allers</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Phillipa_Soo">pl.wikipedia.org/wiki/Phillipa_Soo</a><br>
                    <a href="https://en.wikipedia.org/wiki/Elaine_Paige">en.wikipedia.org/wiki/Elaine_Paige</a><br>
                    <a href="https://en.wikipedia.org/wiki/Idina_Menzel">en.wikipedia.org/wiki/Idina_Menzel</a><br>
                    <a href="https://en.wikipedia.org/wiki/Kristin_Chenoweth">en.wikipedia.org/wiki/Kristin_Chenoweth</a><br>
                    <a href="https://en.wikipedia.org/wiki/Samuel_E._Wright">en.wikipedia.org/wiki/Samuel_E._Wright</a><br>
                    <a href="https://en.wikipedia.org/wiki/Gwen_Verdon">en.wikipedia.org/wiki/Gwen_Verdon</a><br>
                </li>
                <li>
                    National Museum of American History<br>
                    <a href="https://americanhistory.si.edu/smithsonian-jazz/education/what-jazz">americanhistory.si.edu/smithsonian-jazz/education/what-jazz</a>
                </li>
                <li>
                    Broadway.com<br>
                    <a href="https://www.broadway.com/">broadway.com</a>
                </li>

            </ul>

            <h2>Grafika:</h2>
            <ul>
                <li>
                    Logotyp własnego autorstwa zaprojektowany w programie Canva<br>
                    <a href="https://www.canva.com/">canva.com</a>
                </li>
                <li>
                    Internet Broadway Database<br>
                    <a href="https://www.ibdb.com/">ibdb.com</a>
                </li>
                <li>
                    Coronation Street Blog<br>
                    <a href="https://coronationstreetupdates.blogspot.com/2017/12/when-michael-crawford-was-on-coronation.html">coronationstreetupdates.blogspot.com/2017/12/when-michael-crawford-was-on-coronation</a>
                </li>
                <li>
                    Wikipedia.org<br>
                    <a href="https://pt.wikipedia.org/wiki/Sarah_Brightman">pt.wikipedia.org/wiki/Sarah_Brightman</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Plik:Andrew_Lloyd_Webber_in_Eurovision_2009.jpg">pl.wikipedia.org/wiki/Plik:Andrew_Lloyd_Webber</a><br>
                    <a href="https://en.wikipedia.org/wiki/Lin-Manuel_Miranda#/media/File:Lin-Manuel_Miranda_by_Gage_Skidmore.jpg">en.wikipedia.org/wiki/Lin-Manuel_Miranda</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Plik:John_Kandor_1998.jpg">pl.wikipedia.org/wiki/Plik:John_Kander</a><br>
                    <a href="https://upload.wikimedia.org/wikipedia/he/5/58/Fred_Ebb.jpg">upload.wikimedia.org/wikipedia/Fred_Ebb</a><br>
                    <a href="https://en.wikipedia.org/wiki/File:Bob_Fosse_1963_(cropped).jpg">en.wikipedia.org/wiki/File:Bob_Fosse</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Plik:Stephen_Schwartz.jpg">pl.wikipedia.org/wiki/Plik:Stephen_Schwartz</a><br>
                    <a href="https://en.wikipedia.org/wiki/File:Roger_Allers,_34th_Annie_Awards,_2007.jpg">en.wikipedia.org/wiki/File:Roger_Allers</a><br>
                    <a href="https://pl.wikipedia.org/wiki/Plik:Elton_John_November_2015.jpg">pl.wikipedia.org/wiki/Plik:Elton_John</a><br>
                    <a href="https://en.wikipedia.org/wiki/File:Thumbnail_IMG_3590.jpg">en.wikipedia.org/wiki/File:Tim_Rice</a><br>
                    <a href="https://en.wikipedia.org/wiki/File:Elaine-paige-obe.jpg">en.wikipedia.org/wiki/File:Elaine-paige</a><br>
                    <a href="https://en.wikipedia.org/wiki/File:Idina_Menzel_Defense.gov_Crop.png">en.wikipedia.org/wiki/File:Idina_Menzel</a><br>
                    <a href="https://en.wikipedia.org/wiki/File:Kristin_Chenoweth_by_Gage_Skidmore_2.jpg">en.wikipedia.org/wiki/File:Kristin_Chenoweth</a><br>
                    <a href="https://en.wikipedia.org/wiki/File:Samuel_E._Wright.jpg">en.wikipedia.org/wiki/File:Samuel_E._Wright</a><br>
                    <a href="https://en.wikipedia.org/wiki/File:Gwen_Verdon_1954.jpg">en.wikipedia.org/wiki/File:Gwen_Verdon</a><br>
                </li>
                <li>
                    Music Theatre Review<br>
                    <a href="http://musicaltheatrereview.com/trevor-nunn-to-direct-menier-chocolate-factorys-fiddler-on-the-roof/">musicaltheatrereview.com/trevor-nunn-to-direct-menier-chocolate-factorys-fiddler-on-the-roof</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}