{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Kompozytorzy' }}
{% endblock %}

{% block body %}
    <h1>kompozytorzy</h1>
    <div class="grid-container">
        {% for composer in pagination.items %}
            <a href="{{ url('composer_show', {id: composer.id}) }}">
                <div class="grid-item">
                    <div class="musical">
                        {{ composer.name }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}