html
{
    scroll-behavior: smooth;
}

body
{
    background-color: #f2f2f2;
    font-size: 20px;
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Varela Round', sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Questrial', sans-serif;
    color: #2e2e2e;
}

header
{
    margin: 1em;
}

h1
{
    display: grid;
    justify-content: center;
    color: #b6b6b6;
    font-family: "Arial Black", serif;
    font-size: 4rem;
    padding: 0;
    margin: 0 auto -0.1em;
}

.every-con
{
    width: 90%;
    margin: auto;
}

.musical-container
{
    width: 80%;
    margin: 2em auto ;
}

.pagination
{
    margin: 1em auto;
    padding: 0.5em;
}

.container-fluid
{
    width: 100%;
    margin: 1em 0;
    padding: 0;
}

.about
{
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    white-space: normal;
    word-wrap: break-word;
}

.history
{
    width: 80%;
    margin: auto;
    padding: 0.5em;
}

.history h2:first-child
{
    margin-top: 0.5em;
}

h3, .name
{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.04em;
    color: #2e2e2e;
    padding: 0 0 0.5em 0;
}

.logo img
{
    padding: 0;
    margin: auto;
    text-align: center;
}

.cover-photo
{
    margin: auto;
    text-align: center;
    background-color: #ffaa81;
    padding: 5em;
}

.creator a
{
    text-decoration: none;
    color: #2e2e2e;
}

.creator a:hover
{
    color: #ffaa81;
}

.premiere
{
    margin: 1em 0 2em 0;
}

.container-href a, .container a
{
    text-decoration: none;
    color: #2e2e2e;
}

.container-href a:hover, .container a:hover
{
    color: #ffaa81;
    transform: scale(1.02);
}

footer
{
    background-color: #2e2e2e;
    color: #f2f2f2;
    padding: 3em;
    margin-top: 2em;
    text-align: center;
}

form
{
    padding: 2em;
    width: 60%;
    margin: 0.5em auto;
    text-align: center;
    line-height: 2em;
}

.reg
{
    line-height: 5em;
}

.reg a
{
    color: #ffaa81;
    font-weight: bolder;
}

.nav-item
{
    padding: 0 0.5em;
    margin: 0 0.5em;
}

.comment-more
{
    margin-top: 2em;
}

.comment
{
    border: 1px solid #fff;
    background-color: #fff;
    margin: 0.5em;
    padding: 0.5em 1em;
}

.comment-author
{
    color: #b6b6b6;
}

.comment-date
{
    float: right;
}

.comment-add
{
    padding: 0.5em;
}

.comment-add a
{
    text-decoration: none;
    color: #2e2e2e;
}

.bio
{
    margin-bottom: 3em;
}

.message
{
    width: 60%;
    margin: 3em auto 1em;
}


@media (min-width: 990px)
{
    h1
    {
        font-size: 12rem;
    }
    .dropdown-menu
    {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    nav
    {
        float: right;
    }

    h1
    {
        margin-top: 0.4em;
    }

    .nav-item:hover
    {
        background-color: #ffaa81;
    }

    .container
    {
        line-height: 1em;
    }

    .logo
    {
        margin:0 5em;
    }


    .musical img
    {
        margin-top: 3em;
    }

    .dropdown-item
    {
        font-size: 18px;
    }

    h3, .name
    {
        line-height: 3em;
        padding: 0;
    }
}