html
{
    scroll-behavior: smooth;
}

body
{
    background-color: #f2f2f2;
    font-size: 20px;
    color: #2e2e2e;
}

header
{
    margin: 1em;
}

.logotype
{
    margin: 0.5em 0 0;
    padding: 0.5em 0 0;
}

.logotype a
{
    color: #2e2e2e;
}

.logotype a:hover
{
    text-decoration: none;
}

h1
{
    display: grid;
    justify-content: center;
    color: #b6b6b6;
    font-family: "Arial Black", serif;
    font-size: 12rem;
    padding: 0;
    margin: 0 auto -0.1em;
}

.every-con
{
    width: 90%;
    margin: auto;
}
.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.musical
{
    background-color: #ffaa81;
    padding: 6em 3em;
}

.musical-container
{
    width: 80%;
    margin: auto;
}

.pagination
{
    margin: 1em auto;
    padding: 0.5em;
}
.container-fluid
{
    width: 100%;
    margin: 0;
    padding: 0;
}
nav
{
    margin: 0.5em 3em 0 0;
    padding: 0;
}

nav:after
{
    content: "";
    display: table;
    clear: both;
}

nav ul
{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li
{
    margin: 0;
    display: inline-block;
    float: left;
}

nav a
{
    display: block;
    padding: 0 1em;
    margin: 0 1em;
    line-height: 60px;
    text-decoration: none;
    color: #2e2e2e;
}

nav ul li ul li:hover
{
    color: #ffaa81;
}

nav a:hover
{
    color: #ffaa81;
    transform: scale(1.1);
    text-decoration: none;
}

nav ul ul
{
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover > ul
{
    display: inherit;
}

nav ul ul li
{
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
    background-color: #f2f2f2;
}

nav ul ul ul li
{
    position: relative;
    top: -60px;
    left: 170px;
}

.toggle, [id^=drop]
{
    display: none;
}

li > a:only-child:after
{
    content: '';
}

.about
{
    width: 80%;
    margin: 1em auto;
    padding: 1em;
}

.history
{
    width: 80%;
    margin: auto;
    padding: 0.5em;
}

.history h2:first-child
{
    margin-top: 0.5em;
}

.cover-photo
{
    margin: auto;
    text-align: center;
    background-color: #ffaa81;
    padding: 5em;
}

.name
{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.04em;
    line-height: 3em;
    color: #2e2e2e;
}

.creator a
{
    text-decoration: none;
    color: #2e2e2e;
}

.creator a:hover
{
    color: #ffaa81;
}

.premiere
{
    margin: 1em 0 2em 0;
}

footer
{
    background-color: #2e2e2e;
    color: #f2f2f2;
    padding: 2em;
    margin-top: 2em;
}

footer img
{
    text-align: left;
}

footer p
{
    text-align: right;
    display: inline-block;
}

form
{
    padding: 2em;
    width: 60%;
    margin: 0.5em auto;
    text-align: center;
    line-height: 2em;
}

.reg
{
    line-height: 5em;
}

.reg a
{
    color: #ffaa81;
    font-weight: bolder;
}

@media all and (max-width : 768px)
{
    nav
    {
        margin: 0;
    }

    .toggle + a, .menu
    {
        display: none;
    }

    .toggle
    {
        margin-left: 1em;
        display: block;
        padding: 0 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover
    {
        background-color: #ffaa81;
    }

    [id^=drop]:checked + ul
    {
        display: block;
    }

    nav ul li
    {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle, nav ul ul a
    {
        padding: 0 40px;
    }

    nav ul ul ul a
    {
        padding: 0 80px;
    }

    nav a:hover, nav ul ul ul a
    {
        background-color: #f2f2f2;
        transform: scale(0);
    }

    nav ul li ul li .toggle, nav ul ul a
    {
        background-color: #f2f2f2;
    }

    nav ul ul
    {
        float: none;
        position: static;
    }

    nav ul ul li:hover > ul, nav ul li:hover > ul
    {
        display: none;
    }

    nav ul ul li
    {
        display: block;
        width: 100%;
    }

    nav ul ul ul li
    {
        position: static;
    }
}

@media all and (max-width : 330px)
{
    nav ul li
    {
        display: block;
        width: 94%;
    }
}