{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Doceń musical' }}
{% endblock %}

{% block body %}
    <h1>musicale</h1>
    <div class="every-con">
        <div class="container">

            <div class="row text-center text-lg-center">
                {% for musical in pagination.items %}

                <div class="col-lg-3 col-md-3 col-12 text-lg-center">
                    <a href="{{ url('musical_show', {id: musical.id}) }}" class="d-block mb-4 h-200">
                        <img class="img-fluid img-thumbnail" src="{{ asset('uploads/'~ musical.filename) }}" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="pagination">
        {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}