{% extends 'base.html.twig' %}

{% block title %}
    Doceń musical | Historia
{% endblock %}

{% block body %}
    <h1>historia</h1>

    <div class="history">
        <h2>Początki musicalu</h2>
            Musical narodził&nbspsię i&nbspkształtował na Broadwayu. Jednak zanim pojawił się w formie znanej nam dzisiaj, na scenie można było zobaczyć inne rodzaje spektakli, z&nbspktórych inspirację czerpał musical. Były to:
        <ul>
            <li>burleska,</li>
            <li>extravaganza,</li>
            <li>minstrel-show,</li>
            <li>wodewil,</li>
            <li>rewia,</li>
            <li>operetka,</li>
            <li>komedia muzyczna.</li>
        </ul>
    </div>

    <div class="history">
        <h2>
           Burleska
        </h2>
        <p>
            Na początku XVIII&nbspw. burleska teatralna była połączeniem elementów komicznych i&nbsppoważnych. W&nbspXIX-wiecznej Anglii zyskała popularność jako parodia muzyczna. Dodatkowy rozgłos przynosiła jej obsada, która składała głównie z&nbspkobiet. Tradycyjna brytyjska burleska jest znana jako burleska klasyczna lub&nbspmuzyczna i&nbspznacznie różni&nbspsię od&nbspnowoczesnej, która skupia&nbspsię głównie na striptizie. W&nbspXX w. w&nbspAmeryce była kojarzona z&nbspwielkimi widowiskami. Obejmowała parodię, dowcip i&nbsppastisz, w&nbspktórych występowali mimowie, tancerki, komedianci i&nbspartyści striptizu. Z&nbspczasem dodano do niej elementy satyry obyczajowej i&nbsppolitycznej. W&nbsp1891 roku wystawiono <i>A&nbsptrip&nbspto&nbspChinatown</i>, w&nbspktórym można zobaczyć różne zabawne sytuacje z&nbsprealiów życia w&nbspAmeryce.
        </p>
        </div>

    <div class="history">
        <h2>
            Extravaganza
        </h2>
        <p>
            Extravaganza była wielkim widowiskiem muzycznym. Charakteryzowała się swobodą stylu i&nbspbudowy, miała wątłą, melodramatyczną akcję. Przygotowywano ją z&nbsprozmachem, brało w&nbspniej udział mnóstwo aktorów i&nbsptancerzy, a&nbspczasem nawet dzikie zwierzęta. Składała się z&nbspburleski, pantomimy, music-hallu i&nbspparodii. Czasem wykorzystywano w&nbspniej również elementy kabaretowe, cyrkowe, rewiowe i&nbsppantomimy. Klasycznym przykładem extravaganzy jest <i>The&nbspBlack&nbspCrook</i> z&nbsp1866 roku.
        </p>
    </div>

    <div class="history">
        <h2>
            Minstrel-show
        </h2>
        <p>
            Minstrele rozwijały się na początku XIX&nbspw. i&nbspbyły amerykańską formą rasistowskiej rozrywki. Na&nbspkażdy spektakl składały się zabawne skecze i&nbspwystępy muzyczne, które przedstawiały ludzi pochodzenia afrykańskiego. W&nbspprzedstawieniach występowali głównie biali ludzie, którym malowano twarze na&nbspczarno. Znakiem rozpoznawczym formy, oprócz malowanych twarzy, były pasiaste koszule, niebieskie fraki i&nbspbiałe spodnie. Od&nbsppoczątku powstania, czyli 1843 roku, miały swoją określoną formę. Podzielone były na trzy części. Pierwsza była popisem zespołu siedzącego na scenie wraz&nbspz&nbspkonferansjerem i&nbspjego dwoma pomocnikami. Podczas niej pomocnicy przekomarzali&nbspsię między sobą, a&nbspkonferansjer z&nbspwykonawcami. Pojawiały się też śpiewy chóralne i&nbspsolówki. Druga część była rewią, a&nbsptrzecia burleską. Minstrele budziły wiele kontrowersji, ponieważ przedstawiały osoby czarnoskóre jako tępe, leniwe i&nbspprzesądne.
        </p>
    </div>

    <div class="history">
        <h2>
            Wodewil
        </h2>
        <p>
            Narodził się we Francji pod koniec XIX&nbspw. Pierwotnie był komedią opartą na komizmie sytuacyjnym z elementami poezji, przeplataną pieśniami lub baletami. Stał się popularny w&nbspKanadzie i&nbspStanach Zjednoczonych na&nbsppoczątku lat&nbsp80 XIX&nbspw., ale jego wygląd bardzo różnił się od francuskiego. Można było znaleźć w&nbspnim nawiązania do&nbspangielskiego music-hallu. Przedstawienie składało się z&nbspserii niepowiązanych, ewentualnie luźno powiązanych, występów. Wykonywane były przez popularnych i&nbspklasycznych muzyków, komików, akrobatów, brzuchomówców czy&nbspklaunów. Pojawiały się też tresowane zwierzęta. Jego pionierem w&nbspUSA był Tony Pastor, który pojawił się w&nbsp1876 roku na&nbspBroadwayu.
        </p>
    </div>

    <div class="history">
        <h2>
            Rewia
        </h2>
        <p>
            Rewia to wyższy stopień wodewilu, w&nbspktórej połączono wcześniej niezwiązane elementy. Swoje źródło ma w&nbsprewii paryskiej. Była wieloaktowym przedstawieniem, które łączyło muzykę, taniec i&nbspskecze. Tworzono je na podstawie aktualnych tematów i&nbspobecnie panujących mód. Jej pionierem był Florenz Ziegfield, który w&nbsp1907&nbsproku stworzył <i>Ziegfield Follies</i>. Jego rewie kojarzone były ze&nbspwspaniałą oprawą i&nbspznanymi gwiazdami. Dodatkowo zatrudniał najwybitniejszych amerykańskich autorów tekstów i&nbspkompozytorów (np. George Gerschwin, Cole Porter, Irving Berlin), którzy w&nbsppóźniejszych latach zasłynęli jako autorzy najgłośniejszych musicali.
        </p>
    </div>

    <div class="history">
        <h2>
            Operetka
        </h2>
        <p>
            Rozwinęła się w połowie XIX&nbspw. i&nbspstanowiła rodzaj widowiska muzycznego, w&nbspktórym połączono lekką melodyjną muzykę z&nbspkomediową akcją sceniczną. Składały się na nią partie wokalne, instrumentalne oraz&nbsptaneczne. Miała często nieprawdopodobną i&nbspzagmatwaną fabułę. Wykorzystywano w&nbspniej motywy mitologiczne i&nbspantyczne. Ukazywała ówczesne wydarzenia polityczne i&nbsphistoryczne w&nbspkrzywym zwierciadle. Wątek miłosny stanowił najczęściej główny motor dramatycznej akcji, doprowadzając do&nbspszczęśliwego zakończenia, mimo&nbsprozmaitych powikłań i&nbspperypetii. Jedną z&nbspbardziej znanych operetek była stworzona w&nbsp1879&nbsproku przez Arthura Sullivana i&nbspW.S.&nbspGilberta <i>H.M.S&nbspPinafore</i>.
        </p>
    </div>

    <div class="history">
        <h2>
            Komedia muzyczna
        </h2>
        <p>
            Była ostatnim etapem kształtowania się musicalu. Stanowiła etap przejściowy pomiędzy operetką a&nbspmusicalem, przez co&nbspciężko postawić pomiędzy nimi wyraźną granicę. Wiele operetek ma w&nbspsobie elementy komedii muzycznej, a&nbspwiele komedii muzycznych elementy musicalu. Marianowicz w&nbspswojej książce pisze: „Libretta opierały się na dwóch schematach: Kopciuszka i&nbspCzerwonego Kapturka. Schemat I: uczciwa, lecz uboga dziewczyna poznaje ekscentrycznego syna zacnego milionera, względnie uczciwy, lecz ubogi młodzieniec poznaje ekscentryczną córkę zacnego milionera. Po uciesznych i&nbspczęściowo łzawych perypetiach łączy kochanków finałowa piosenka przypieczętowana pocałunkiem. Schemat II: dziewczyna albo młodzieniec zostają wplątani w&nbspjakąś aferę przez wilka, tj.&nbspprzez bandytę, który zresztą okaże się w&nbspkońcu wielkim poczciwcem. Myśliwy, tj.&nbsppiękny młodzieniec, ratuje dziewczynę (względnie piękna dziewczyna młodzieńca), po&nbspczym kochanków łączy finałowa piosenka, no i&nbspoczywiście pocałunek”<sup>1</sup>.
        </p>
        <br>
    </div>

    <div class="history">
        <h2>
            Jazz
        </h2>
        <p>
            Jazz jest elementem, który spoił wszystko ze sobą. Wywodził się z&nbspludowego, specyficznego stylu afrykańskiego. Jego charakterystyczną częścią była improwizacja. Każdy muzyk jazzowy lubi grać w&nbspswoim indywidualnym stylu, dlatego można słuchać kilkunastu różnych nagrań jazzowych tego samego utworu i&nbspkażde będzie brzmiało inaczej. Głównym zamierzeniem gatunku było przekształcenie znanej piosenki w&nbspcoś nowego, świeżego, aby&nbspdany utwór stał się bardziej osobisty dla osoby wykonującej go. Jazz jednocześnie zawładnął Broadwayem i&nbspTin&nbspPan&nbspAlleyi i&nbspw&nbspkrótkim czasie opanował parkiety oraz&nbspsceny. Według niemieckiego specjalisty, Smidtha–Joosa, „gdyby musical nie miał nic innego do&nbspzdziałania, jak tylko mechanicznie posklejać różne europejskie i&nbspamerykańskie wzory, mógłby się z&nbsptego narodzić jedynie bękart. Dopiero ferment jazzu, który przeniknął muzykę teatralną… uformował nową harmonię wszystkich elementów…”<sup>2</sup>.
        </p>
    </div>

    <div class="history">
        <h2>
            Pierwsze musicale
        </h2>
        <p>
            Musical zrodził się z&nbsppołączenia wielu różnych form. Z&nbspczasem zaczął się coraz bardziej rozprzestrzeniać. Spektakle nawiązywały do&nbspżycia codziennego i&nbspzaczęto rezygnować z&nbspkonwencji oraz&nbspbanału. Za pierwsze musicale uważane są <i>Statek&nbspkomediantów</i> z&nbsp1927&nbsproku i&nbsp<i>Opera&nbspza&nbsptrzy&nbspgrosze</i> z&nbsp1928&nbsproku.
        </p>
    </div>

    <div class="history">
        <h6><sup>1, 2 </sup>Marianowicz&nbspA. (1979), <i>Przetańczyć&nbspcałą&nbspnoc… Z&nbspdziejów&nbspmusicalu</i>, Warszawa, Wydawnictwo Artystyczne i Filmowe</h6>
    </div>

{% endblock %}