{% extends 'base.html.twig' %}

{% block body %}
    <h1>historia</h1>

    <div class="history">
        <h2>
            Lorem ipsum
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a leo nulla. Integer ultrices nibh at augue finibus consequat. Donec eu nisl urna. Praesent libero nibh, molestie ut urna a, condimentum tincidunt nibh. Maecenas leo diam, interdum quis varius eget, dapibus at orci. Nunc nec metus faucibus, laoreet dolor non, faucibus nibh. Donec vel est eu dui gravida auctor facilisis id augue. Donec in consectetur urna, sed lobortis massa. In maximus est odio, ut gravida turpis rhoncus ac. Morbi rutrum, sem vitae sodales blandit, mi enim iaculis ex, sit amet tincidunt neque sem eget dolor.
        </p>
    </div>

    <div class="history">
        <h2>
            Lorem ipsum
        </h2>
        <p>
        In vel egestas nibh. Pellentesque efficitur accumsan aliquet. Integer luctus, eros sed lobortis volutpat, massa turpis lobortis libero, nec pellentesque odio tellus ac mi. Maecenas egestas feugiat hendrerit. Nunc nunc nunc, porttitor et facilisis et, posuere ut ipsum. Maecenas rutrum ullamcorper tortor, eu pretium orci venenatis sit amet. Aliquam porttitor sit amet est ac rhoncus. Donec eu tempus orci, a tincidunt massa. Vestibulum dapibus viverra erat, id auctor quam faucibus eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec at sodales justo, sed tincidunt quam. Nulla facilisis libero augue, id mattis neque efficitur in. Nullam commodo mauris vitae arcu vehicula imperdiet.
        </p>
    </div>

    <div class="history">
        <h2>
            Lorem ipsum
        </h2>
        <p>
        Pellentesque dignissim purus nibh, at semper mi pharetra sed. Vestibulum convallis id elit et congue. Ut at efficitur ante. Integer eget risus vitae sapien facilisis auctor. Nam quis molestie mi. In sed imperdiet urna, quis fermentum ex. Aliquam erat volutpat. Integer sed augue sapien. Phasellus in eros dictum, scelerisque sem at, lobortis orci. Morbi sollicitudin tortor elit, non hendrerit diam consectetur quis.
        </p>
    </div>

    <div class="history">
        <h2>
            Lorem ipsum
        </h2>
        <p>
        Praesent velit mauris, maximus id ultrices at, sollicitudin et lectus. Nam mattis nibh eu condimentum facilisis. Morbi porttitor ante eu eros tempus varius. Morbi et nulla iaculis, malesuada nibh efficitur, vehicula tortor. Quisque nec sagittis enim, non pretium quam. Praesent tincidunt odio eu orci elementum, malesuada lacinia neque mollis. Sed posuere ante sed venenatis convallis. Ut accumsan nibh in justo hendrerit sodales. Cras finibus dui non condimentum imperdiet.
        </p>
    </div>

    <div class="history">
        <h2>
            Lorem ipsum
        </h2>
        <p>
        Donec lobortis suscipit velit, vitae maximus felis consequat ut. Quisque efficitur pulvinar aliquet. Aliquam ut varius magna, vitae lacinia lorem. Nulla scelerisque pulvinar velit, sed euismod tortor finibus vel. Proin tristique risus ac nulla sollicitudin interdum. Cras placerat, arcu vitae volutpat bibendum, ex eros congue lacus, sit amet eleifend lorem quam molestie mauris. Curabitur scelerisque nibh sed fringilla pulvinar. Morbi rutrum porttitor porta. Sed finibus ullamcorper eros vitae blandit. Phasellus vestibulum nunc nec sem efficitur, sed tempor urna dignissim. Aliquam convallis vitae erat vel tempor. Pellentesque dolor nunc, accumsan eu aliquet at, vehicula a ligula. Proin eu dui imperdiet, maximus massa sagittis, ultrices lacus. Ut a tempus nisl. Maecenas sed lorem ut nisl tristique sollicitudin.
        </p>
    </div>
{% endblock %}