{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Reżyserzy' }}
{% endblock %}

{% block body %}
    <h1>reżyserzy</h1>
    <div class="grid-container">
        {% for director in pagination.items %}
            <a href="{{ url('director_show', {id: director.id}) }}">
                <div class="grid-item">
                    <div class="musical">
                        {{ director.name }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}