{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Doceń musical | Konto użytkownika' }}
{% endblock %}

{% block body %}
    <h1>profil</h1>
    {% if user is defined and user|length %}
        <div class="musical-container">
            <div class="">
                <p>nazwa użytkownika:
                    {{ app.user.login }}
                </p>
            </div>
            <div class="">
                <p>email:
                     {{ app.user.email }}
                </p>
            </div>
        </div>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}